name: Alerta Propiedades ML

on:
  schedule:
    - cron: "0 12 * * *"  # 09:00 Chile (UTC-3)
    - cron: "0 15 * * *"  # 12:00 Chile (UTC-3)
    - cron: "0 21 * * *"  # 18:00 Chile (UTC-3)
  workflow_dispatch:

jobs:
  run-alert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run alert
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
